.add-book-container {
    display: flex;
    flex-direction: column;
    background-color: #4a4a4a; 
    padding: 40px;
    border-radius: 20px;
    width: 90%; 
    max-width: 500px; 
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.add-book-container h1 {
    color: #f0f0f0; 
    font-size: 24px; 
    text-align: center;
    margin-bottom: 20px; 
}

.add-book-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    justify-content: flex-start;
}

.form-group label {
    font-size: 14px;
    color: #f0f0f0; 
}

input, textarea {
    background-color: #0000;
    border: 2px solid #cccccc; 
    border-radius: 5px;
    padding: 8px; 
    font-size: 14px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #007acc; 
}

textarea {
    resize: none; 
}

.button-group {
    display: flex;
    gap: 20px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.submit-button, .back-button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button {
    background-color: #007acc; 
    color: white;
}


.back-button {
    background-color: #cccccc; 
    color: black;
}

.back-button:hover {
    background-color: #999999; 
}